body {
    font-family: sans-serif;
    padding-top: 100px;
    /*background-color: #557A95;*/
}

.bg {
    background-image:url('/media/images/pic7.jpg');
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-image: linear-gradient(#051f2d, #2fa4e7 80%, #1d9ce5);
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #A9A9A9;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

/*.label-warning[href],*/
/*.badge-warning[href] {*/
/*    background-color: #c67605;*/
/*}*/

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    background-color: #05b069;
    color: #ffffff;
    padding: 0;
    /*border-radius: 1rem;*/
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
}

.panel-body {
    height: 100%;
}

.product-description {
    min-height: 40px;
}

.btn {
     background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
     border: none;
     color: #FFFFFF;
     text-align: center;
}

/* h1 {
    background-color: black;
    padding: 20px;
} */
