@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* ------------------------------
    Media Queries
------------------------------ */

@media (max-width: 767px){
.navbar .dropdown-menu a {
    color: #0c0c0c;
    }
}

/* ------------------------------
    Nav bar
------------------------------ */

.navbar {
  margin-top: 60px;
  color: rgb(14, 72, 110);
  box-shadow: 5px 4px 5px #000;
}

/* ------------------------------
    Body
------------------------------ */

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  color: #ededed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */

}

/* ------------------------------
    Search bar
------------------------------ */

input {
        outline: none;
        size: 55;
    }

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #66CC75;

    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}


input:-moz-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}

#search-bar input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}

#search-bar input[type=search]:hover {
    background-color: #fff;
}

#search-bar input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}

#search-bar input:-moz-placeholder {
    color: transparent;
}

#search-bar input::-webkit-input-placeholder {
    color: transparent;
}

.search-bar-padding {
    margin-bottom: 10px;
}

/* ------------------------------
    Product Panels
------------------------------ */

.product {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 100%;
    height: 200px;
    margin: auto;
}

.product-description {
    min-height: 40px;
    color: #000;
}

.product-price {
    color: #000;
}

.panel-default {
    background-color: #e2e0e0;
    color: #0a0808;
    padding: 0;
    margin-right: 10px;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
}

.panel-body {
    height: 100%;
}

.payment-details-wording {
    color: #FFFFFF;
}


/* ------------------------------
    Buttons
------------------------------ */

.btn {
     background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
     border: none;
     color: #FFFFFF;
     text-align: center;
}

/* ------------------------------
    Headers
------------------------------ */

h1, h2 {
    margin-top: -2px;
    color: rgb(230, 228, 228);
}

h4 {
    color: #FFFFFF;
    margin-top: 0px;
}

/* ------------------------------
    Video
------------------------------ */

.video {
        width: 100%;
        height: 100%;
}

.youtube-responsive-container {
            padding-left: 10%;
            padding-right: 10%;
}


/* ------------------------------
    Voting Poll
------------------------------ */

.results-option-one {
    position: relative;
    color: #ffffff;
    left: 120px;
    font-size: 20px;
    bottom: 12px;
}

.results-option-two {
    position: relative;
    left: 235px;
    color:#ffffff;
    bottom: 68px;
    font-size: 20px;
}

#vs {
    position: relative;
    color: #ffffff;
    left: 175px;
    font-size: 20px;
    bottom: 40px;
}

.radio-vs {
    position: relative;
    right: 50%;
}

#results-label {
    position: relative;
    color:#ffffff;
    top: 15px;
}

.expiry-date {
    position: relative;
    left: 120px;
    color:#ffffff;
    bottom: 30px;
    font-size: 20px;
}

.expired-polls {
    position: relative;
}

.vote-btn {
    margin-top: 5px;
    margin-bottom: 10px;
}

.buy-btn {
    position: relative;
    left: 13px;
}


/* ------------------------------
    Footer
------------------------------ */

footer {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: rgb(0, 0, 0);
}

.footer-signature {
    color: white;
}

.contact {
    color: #FFFFFF;
}

.social-links {
    color: #f5f5f5;
    padding-bottom: 15px;
}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    margin-top: -3px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    font-size: 18px;
    line-height: 12px;
    text-align: center;
    color: #f5f5f5;
    background: rgb(30, 103, 151);
    transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
}

.social-links li a i:hover {
    background: #d01a1a;
}

