{% extends 'base.html' %}

{% load static from staticfiles %}

{% block page_title %}Home Page{% endblock %}

{% block page_heading%}Home{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row bg">
		<div class="container text-center">
			<h2>Guitar Tuition for ALL Guitar Players! </h2>
		</div>
        <div class="container text-center mt-5">
			<p>Register, then vote for the lessons you want in the Polls section using the radio buttons.</p>
            <p>When the Poll expires, I will make a tutorial video for the subject with the most votes which will then be available to purchase in the Store.</p>
            <p>Choose from the alreadily available tutorial videos in the Store, voted by you!</p>
            <p>Checkout the video below to see more!</p>
		</div>
        <hr>
		<div class="row">
			<div class="col-xs-12">
				<div class="youtube-responsive-container">
					<video class="video" controls autoplay loop muted playsinline>
						<source src="media/video/guitar_shed_vid.mp4" type="video/mp4"> Your browser does not support the video tag.
					</video>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}