{% extends "base.html" %}

{% block title %}Polls{% endblock %}

<div id="poll_container">
{% block content %}

<h2>Vote For The Lessons You Want!</h2>
{% if error_message %} <p><strong>{{ error_message }}</strong></p> {% endif %}

<form action="{% url 'polls:vote' polls.id %}" method="post">
{% csrf_token %}

 <ul>
    {% for poll in polls %}

    <li><h3>{{ poll }}</h3></li>

    <div class="col-sm-3" id="radio">
    <input type="radio" name="option" id="option{{ forloop.counter }}" value="{{ option.id }}">
    <label for="option{{ forloop.counter }}">{{ option.option_text }}</label><br>
    </div>
    <div class="col-sm-3" id="radio">
    <input type="radio" name="option" id="option{{ forloop.counter }}" value="{{ option.id }}">
    <label for="option{{ forloop.counter }}">{{ option.option_text }}</label><br>
    </div>

    <input type="submit" class="btn btn-primary" value="Vote">
    {% endfor %}

</ul>
</form>

<ul>
{% for option in polls.option_set.all %}
    <li>{{ option.option_text }} -- {{ option.votes }} vote{{ option.votes|pluralize }}</li>
{% endfor %}
</ul>

<a>Vote again?</a>

{% endblock %}